*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
body{
	background-color: rgba(0, 0,0, 0.029);
}
header{
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-right: 50px;
}
.logo img{
	height: 85%;
	width: 80%;
	pointer-events: none;
}
.login{
	height:50%;
	display: flex;
	flex-direction: column;
	border:1px solid black;
	background-color: rgba(255, 255, 255, 0.5);
}
.insta img{
	padding-top:10px;
	width: 70%;
	pointer-events: none;
}
form input{
	width: 70%;
	margin:5px 0;
	padding: 10px 5px;
} 
button{
	background-color:#0095f6;
	color:white;
	margin-top: 12px;
	margin-bottom: 15px;
	width: 70%;
	padding:8px 5px;
	border: 0 solid white;
	border-radius: 5px;
}

button:hover{
	
	background-color: royalblue;
}
.login a{
	
	text-decoration: none;
}
.lo{
	
	font-size: 100%;
	font-weight: bold;
	margin-top:17px;
	margin-bottom: 10px;
}
.lo a{
	color:#3b5998;
}
i{
	color:#3a63bd;
}
.fo{
	font-size: 80%;
}
.signup{
	
	color:rgba(0, 0,0, 0.5);
	margin-top:10px;
	margin-bottom: 20px;
	padding: 10px 0;
	display: flex;
	border:1px solid black;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.signup a{
	color:#0095f6;
	font-weight: 600;
	text-decoration: none;

}
.fonts{
	margin-top: 20px;
}
.fonts img{
	width: 40%;
}
a:hover{
	opacity: 0.5;
}
footer{
	margin-top: 20px;
	text-align:center;
}
@media(max-width:900px)
{
	.logo{
		display: none;
	}
	header{
		padding-left: 50px;
		padding-top:20% ;
	}
}
